---
import Link from "./shared/Link.astro";
import Modal from "./shared/Modal";
import Network from "@components/graph/Network";
import type { GraphinData } from "@antv/graphin";
import { getGraphData } from "@lib/graph";

interface Props {
  graphData?: GraphinData;
}

let { graphData } = Astro.props;
if (!graphData) {
  graphData = await getGraphData();
}
---

<nav class="w-full bg-white p-4 sticky top-0 inset-x-0 border-b mb-4 z-10 flex">
  <div class="max-w-screen-lg mx-auto flex justify-center items-center gap-4">
    <Link href="/analysis">Analysis</Link>
    <Link href="/data">Data</Link>
    <Link href="https://github.com/astrodown/playground">Github</Link>
  </div>

  <a class="margin-left">
    <Modal client:load className="bg-black max-w-4xl">
      <Network client:only="react" data={graphData} />
    </Modal>
  </a>
</nav>
