---
import Link from "./shared/Link.astro";
import Modal from "./shared/Modal";
import Network from "@components/graph/Network";
import type { GraphinData } from "@antv/graphin";
import { getGraphData } from "@lib/graph";

interface Props {
    graphData?: GraphinData;
}

let { graphData } = Astro.props;
if (!graphData) {
    graphData = await getGraphData();
}
// let entry: CollectionEntry<"analysis"> | CollectionEntry<"data"> | undefined;
// const slug = Astro.url.pathname.split("/").slice(1);
// const collection = slug.shift();
// if (collection === "analysis") {
//     entry = await getEntryBySlug("analysis", slug.join("/"));
// } else if (collection === "data") {
//     entry = await getEntryBySlug("data", slug.join("/"));
// }

// let data: typeof graphData | null = null;
// if (entry) {
//     const id = entry.data.id || entry.id;
//     const nodes = graphData.nodes.map((node) => {
//         if (entry && node.id === id) {
//             node.style!.keyshape!.fill = colorConfig["accent"];
//             node.style!.keyshape!.stroke = colorConfig["accent"];
//         }
//         return node;
//     });
//     const edges = graphData.edges.map((edge) => {
//         if (edge.source === id) {
//             edge.style!.label!.fill = colorConfig["accent"];
//             edge.style!.label!.stroke = colorConfig["accent"];
//             edge.style!.keyshape!.stroke = colorConfig["accent"];
//         }

//         return edge;
//     });
//     data = {
//         nodes,
//         edges,
//     };
// } else {
//     data = graphData;
// }
---

<nav class="w-full bg-white p-4 sticky top-0 inset-x-0 border-b mb-4 z-10 flex">
    <div class="max-w-screen-lg mx-auto flex justify-center items-center gap-4">
        <Link href="/analysis">Analysis</Link>
        <Link href="/data">Data</Link>
        <Link href="https://github.com/astrodown/playground">Github</Link>
    </div>

    <a class="margin-left">
        <Modal client:load className="bg-black">
            <Network client:only="react" data={graphData} />
        </Modal>
    </a>
</nav>
