---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";

export interface Props {
	entry: CollectionEntry<"analysis">;
}

const { entry } = Astro.props;

const { Content } = await entry.render();
---

<BaseLayout>
	<div class="max-w-5xl mx-auto p-4 m-4 prose">
		<Content />
	</div>

	<!-- <PyscriptPlayground exports={entry.data.exports} client:only="react" /> -->
</BaseLayout>
