---
import SiteHeader from "@components/SiteHeader.astro";
import BaseHead from "../components/BaseHead.astro";
import "@styles/global.css";
import type { GraphinData } from "@antv/graphin";

interface Props {
    class?: string;
    graphData?: GraphinData;
}

let { class: className, graphData } = Astro.props;
if (!className) {
    className = "max-w-6xl mx-auto";
}
---

<html lang="en">
    <BaseHead />
    <body>
        <SiteHeader graphData={graphData} />
        <main class={className}>
            <slot />
        </main>
    </body>
</html>
